@model List<EducationCommunity.Models.Article>

@{
    ViewBag.Title = "cpp";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<h1>C++ Tutorial</h1>
<div>
<p>C++ is a middle-level programming language developed by Bjarne Stroustrup starting in 1979 at Bell Labs. C++ runs on a variety of platforms, such as Windows, Mac OS, and the various versions of UNIX.</p>
<p>This reference will take you through simple and practical approach while learning C++ Programming language.</p>
</div>
<h1>Audience</h1>
<p>This reference has been prepared for the beginners to help them understand the basic to advanced concepts related to C++ Programming languages.</p>
<h1>Prerequisites</h1>
<p>Before you start doing practice with various types of examples given in this reference, I'm making an assumption that you are already aware about what is a computer program and what is a computer programming language?</p>
<h1>Compile/Execute C++ Programs</h1>
<p>For most of the examples given in this tutorial, you will find <b>Try it</b> option to compile and execute C++ programs online, so just make use of it and enjoy your learning.</p>
<p>Try the following example using <b>Try it</b> option available at the top right corner of the below sample code box:</p>
<pre class="prettyprint tryit">
#include &lt;iostream&gt;
using namespace std;

int main()
{
   cout &lt;&lt; "Hello World";
   return 0;
}
</pre>
<hr>
<h2>(1) C++ Basic Object Oriented Concepts</h2>
<p>Just go through these concepts to understand basic Object Oriented Terminology.</p>
<p><a href="/cplusplus/cpp_object_oriented.htm">C++ Object Oriented Concepts</a></p>
<h2>(2) C++ Quick Guide</h2>
<p>A quick C++ reference guide for C++ Programmers.</p>
<p><a href="/cplusplus/cpp_quick_guide.htm">C++ Quick Guide</a></p>
<h2>(3) C++ Useful Resources</h2>
<p>A collection of <i>C++</i> Sites, Books and Articles is given at this page.</p>
<p><a href="/cplusplus/cpp_useful_resources.htm">C++ Useful Resources</a></p>
<h2>(4) C++ References</h2>
<p>A link on C++ Standard Library</p>
<p><a href="/cplusplus/cpp_standard_library.htm">C++ Standard Library</a></p>
<h2>(5) C Tutorial</h2>
<p>Learn C in really simple steps with examples using this tutorial.</p>
<p><a href="/cprogramming/index.htm">C Tutorial</a></p>
<h2>(6) C++ Tutorial in PDF</h2>
<p>Download a quick C++ tutorial in PDF format.</p>
<p><a href="/cplusplus/cpp_pdf_version.htm">C++ Tutorial in PDF</a></p>
<hr />



