@model List<EducationCommunity.Models.Article>
@{
    ViewBag.Title = "cSharp";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />





<h1>C# Tutorial</h1>
<div>
<p>C# is a simple, modern, general-purpose, object-oriented programming language developed by  Microsoft within its .NET initiative led by Anders Hejlsberg.</p>
<p>This tutorial will teach you basic C# programming and will also take you through various advanced concepts related to C# programming language.</p>
</div>
<h1>Audience</h1>
<p>This tutorial has been prepared for the beginners to help them understand basic C# programming. After completing this tutorial, you will find yourself at a moderate level of expertise in C# programming from where you can take yourself to next levels.</p>
<h1>Prerequisites</h1>
<p>C# programming is very much based on C and C++ programming languages, so if you have basic understanding on C or C++ programming then it will be a fun to learn C# programming language.</p>
<h1>Compile/Execute C# Programs</h1>
<p>If you are willing to learn the C# programming with a C# Mono Compiler then you have <a target="_blank" rel="nofollow" href="http://www.compileonline.com/compile_csharp_online.php" title="Compile and Execute C# Online">compileonline.com</a> available on a high end dedicated server giving you real programming experience with a comfort of single click compilation and execution. Yes! it is absolutely free and its online.</p>
<hr>
<h2>1 - C# Quick Reference Guide</h2>
<p>A quick C# reference guide for C# Programmers.</p>
<p><a href="/csharp/csharp_quick_guide.htm">C# Quick Reference Guide</a></p>
<h2>2 - C# Useful Resources</h2>
<p>A collection of <i>C#</i> Sites, Books and Articles is given at this page.</p>
<p><a href="/csharp/csharp_useful_resources.htm">C# Useful Resources</a></p>
<h2>3 - C++ Tutorials</h2>
<p>If you are starting with C++ then it's best place to start with.</p>
<p><a href="/cplusplus/index.htm">C++ Tutorials</a></p>
<h2>4 - C# Tutorial in PDF</h2>
<p>Download a quick C# tutorial in PDF format.</p>
<p><a href="/csharp/csharp_pdf_version.htm">C# Tutorial in PDF</a></p>
<hr />
<div class="pre-btn">
<a href="/index.htm">Previous Page</a>
</div>
<div class="print-btn">
<a href="/cgi-bin/printpage.cgi" target="_blank">Print Version</a>
</div>
<div class="pdf-btn">
<a href="/csharp/pdf/index.pdf" alt="C# Tutorial" target="_blank">PDF Version</a>
</div>

