@{
    ViewBag.Title = "fUpload";
}

<h2>fUpload</h2>

@using (Html.BeginForm("fUploadImag","Home",FormMethod.Post)
{
<label for="file">Upload Image</label>
    <input type="file" name="file" id="file">
    <input type="submit" value="Upload" class="btn btn-lg btn-success"/>

}