@model List<EducationCommunity.Models.Account>
@{
    ViewBag.Title = "index";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />


<h2>What is "Educational Community"?</h2>
<p>"Educational Community" is a web developers site, with tutorials and references on web 
development languages such as HTML, CSS, JavaScript, PHP, SQL, and JQuery, 
covering most aspects of web programming.</p>
<p>The site derives its name from the World Wide Web (W3), 
but is not affiliated with the W3C.</p>
<p>"Educational Community" was originally created in 1998, by Refsnes Data, a Norwegian 
software development and consulting company.</p>
<hr>
<h2>Easy Learning</h2>
<p>"Educational Community" has focus on simplicity, practicing easy and straight-forward learning. </p>
<p>We use simple code explanations, and illustrate how to use it.</p>
<p>The tutorials starts from basic level, and moves all the way up to 
complete professional references.</p>
<hr>
<h2>"Educational Community" is Free</h2>
<p>"Educational Community" is, and will always be, a completely free 
developers resource. </p>

<hr>
<h2>You Can Help</h2>

<p>Many people are working very hard to make "Educational Community" interesting, useful, and correct.</p>
 <hr>