@model List<EducationCommunity.Models.Article>

@{
    ViewBag.Title = "java";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<h1>Java Tutorial</h1>
<div>
<p>Java is a high-level programming language originally developed by Sun Microsystems and released in 1995. Java runs on a variety of platforms, such as Windows, Mac OS, and the various versions of UNIX. This tutorial gives a complete understanding of Java.</p>
<p>This reference will take you through simple and practical approach while learning Java Programming language.</p>
</div>
<h1>Audience</h1>
<p>This reference has been prepared for the beginners to help them understand the basic to advanced concepts related to Java Programming language.</p>
<h1>Prerequisites</h1>
<p>Before you start doing practice with various types of examples given in this reference, I'm making an assumption that you are already aware about what is a computer program and what is a computer programming language?</p>
<h1>Compile/Execute Java Programs</h1>
<p>For most of the examples given in this tutorial you will find <b>Try it</b> option, so just make use of it and enjoy your learning.</p>
<p>Try following example using <b>Try it</b> option available at the top right corner of the below sample code box:</p>
<pre class="prettyprint tryit">
public class MyFirstJavaProgram {

    public static void main(String []args) {
       System.out.println("Hello World");
    }
} 
</pre>
<h2>1 - Java Quick Reference Guide</h2>
<p>A quick Java reference guide for Java Programmers.</p>
<p><a href="/java/java_quick_guide.htm">Java Quick Reference Guide</a></p>
<h2>2 - Java Useful Resources</h2>
<p>A collection of <i>Java</i> Sites, Books and Articles is given at this page.</p>
<p><a href="/java/java_useful_resources.htm">Java Useful Resources</a></p>
<h2>3 - JavaScript Tutorial</h2>
<p>If you are working on Web Applications then here is a tutorial on JavaScript.</p>
<p><a href="/javascript/index.htm">JavaScript Tutorial</a></p>
<h2>4 - Java Interview Questions</h2>
<p>Go through the most expected and important interview questions to fill yourself with tons of confidence.</p>
<p><a href="/java/java_interview_questions.htm">Java Interview Questions</a></p>
<h2>5 - Java Tutorial in PDF</h2>
<p>Download a quick Java tutorial in PDF format.</p>
<p><a href="/java/java_pdf_version.htm">Java Tutorial in PDF</a></p>

