@model List<EducationCommunity.Models.Article>

@{
    ViewBag.Title = "objC";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
 
<h1>Objective-C Tutorial</h1>
<div>
<p>Objective-C  is a general-purpose, object-oriented programming language that adds Smalltalk-style messaging to the C programming language.  This is the main programming language used by Apple for the OS X and iOS operating systems and their respective APIs, Cocoa and Cocoa Touch.</p>
<p>This reference will take you through simple and practical approach while learning Objective-C Programming language.</p>
</div>
<h1>Audience</h1>
<p>This reference has been prepared for the beginners to help them understand the basic to advanced concepts related to Objective-C Programming languages.</p>
<h1>Prerequisites</h1>
<p>Before you start doing practice with various types of examples given in this reference, I'm making an assumption that you are already aware about what is a computer program and what is a computer programming language?</p>
<h1>Compile/Execute Objective-C Programs</h1>
<p>For most of the examples given in this tutorial, you will find <b>Try it</b> option to compile and execute Objective-C programs online, so just make use of it and enjoy your learning.</p>
<p>Try the following example using <b>Try it</b> option available at the top right corner of the below sample code box:</p>
<pre class="prettyprint tryit">
#import &lt;Foundation/Foundation.h&gt;

int main()
{
   /* my first program in Objective-C */
   NSLog(&#64;"Hello, World! \n");
   
   return 0;
}
</pre>
<hr>
<h2>(1) Objective-C Quick Guide</h2>
<p>A quick Objective-C reference guide for Objective-C Programmers.</p>
<p><a href="/objective_c/objective_c_quick_guide.htm">Objective-C Quick Guide</a></p>
<h2>(2) Objective-C Useful Resources</h2>
<p>A collection of <i>Objective-C</i> Sites, Books and Articles is given at this page.</p>
<p><a href="/objective_c/objective_c_useful_resources.htm">Objective-C Useful Resources</a></p>
<h2>(3) C Tutorial</h2>
<p>Learn C in really simple steps with examples using this tutorial.</p>
<p><a href="/cprogramming/index.htm">C Tutorial</a></p>
<h2>(4) Objective-C Tutorial in PDF</h2>
<p>Download a quick Objective-C  tutorial in PDF format.</p>
<p><a href="/objective_c/objective_c_pdf_version.htm">Objective-C Tutorial in PDF</a></p>

